
        <p>
          <a href="https://validator.w3.org/check?uri=referer">
            <img style="border:0;width:88px;height:31px"
                 src="http://www.w3.org/Icons/valid-xhtml10"
                 alt="Valid XHTML 1.0 Strict" />
          </a>
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                 src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                 alt="Valid CSS!" />
          </a>
        </p>
        <address>
          This web site is maintained by
          <a href="https://www.juergen-reuter.de/">Jürgen Reuter</a>.<br />
          Created: {{ page.date.created }}<br />
          Last update: {{ page.date.lastupdated }}<br />
        </address>
