
        <!-- TODO: Bread Crumb Navigation
             <a href="/">{{ page.title | default: site.title }}</a>
        -->
        <div class="left-sidebar">
          <div>
            <img style="border:0;width:62px;height:62px;float:right"
                 src="../images/logo.png"
                 alt="logo" />
          </div>
{% assign lang = page.url | slice: 1, 2 %}
{% assign page_base = page.url |
   remove_first: '/en/' |
   remove_first: '/de/'
%}
{% if page_base != '/' %}
          <nav class="nav">
{% if page_base == '' %}
  {% assign norm_page_base = 'index.html' %}
{% else %}
  {% assign norm_page_base = page_base %}
{% endif %}
{% for nav_item in site.data.navigator.entries %}
{% if nav_item.url == norm_page_base %}
            <div class="active-nav">
              <span>{{ nav_item.title[lang] }}</span>
            </div>
{% else %}
            <div class="inactive-nav">
              <a href="{{ nav_item.url }}">{{ nav_item.title[lang] }}</a>
            </div>
{% endif %}
{% endfor %}
          </nav>
{% endif %}
          <div id="sidebar-footer">
{% if page_base == '/' %}
  {% assign norm_lang_base = 'index.html' %}
{% else %}
  {% assign norm_lang_base = page_base %}
{% endif %}
            <p>
{% if lang == 'en' %}
              <span class="inactive-lang">🇬🇧 English</span>
{% else %}
              <span class="active-lang">
                <a href="../en/{{ norm_lang_base }}">🇬🇧 English</a>
              </span>
{% endif %}
              <br />
{% if lang == 'de' %}
              <span class="inactive-lang">🇩🇪 Deutsch</span>
{% else %}
              <span class="active-lang">
                <a href="../de/{{ norm_lang_base }}">🇩🇪 Deutsch</a>
              </span>
{% endif %}
            </p>
            <p>
              <a href="https://validator.w3.org/check?uri=referer">
                Nu HTML Check
              </a>
              <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                     src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="Valid CSS!" />
              </a>
            </p>
            <p>
              Site last updated:<br />
              {{ site.time }}
            </p>
          </div>
        </div>
